﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>

<p> 姓名:<input type="text" name="name" value="" /> </p>
<p> 帳號:<input type="text" name="name" value="" /> </p>
<p> 密碼:<input type="text" name="name" value="" /> </p>
<p>
    性別:<input type="radio" name="gender" value="A">男性<input type="radio" name="gender" value="B"> 女性<br>

</p> 
<p>
    興趣:<input type="checkbox"  name="item"  value="A">游泳

    <input type="checkbox"  name="item"  value="A"> 閱讀
    <input type="checkbox"  name="item"  value="A"> 看電影
</p>>
<p>自我介紹:<textarea></textarea></p>