﻿
@{
    ViewBag.Title = "Index";
}

<h2>BMI計算器</h2>

<form actions="/" method="post">
    <p>身高:<input type="text" name="height" value="@ViewBag.Result" />公分</p>
    <p>體重:<input type="text" name="weight" value="@ViewBag.Result" />公斤</p>
    <p><input type="submit" name="name" value="送出" /></p>
</form>
<p>計算結果: @ViewBag.Result</p>
<p>等級: @ViewBag.Result</p>    