﻿
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>

@{ 
    String[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
<ol>
    @foreach(String output in fruits)
    {
        <li>@output</li>
    }
</ol>
}